
/* #players{
    position:relative;
} */
.centre{
    padding:20px;
    text-align: center;
}
/* #player2{
    position: absolute;
    top:0px;
    left:750px;
} */
.image{
    width:200px;
    height:200px;
    padding: 20px;
}

#but,#start{
    font-size: 30px;
    font-weight: 600 !important;
    background-color: red;
    border-radius: 5px;
}
